.slideshow {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  font-size: 1vw;
}

.slideshow * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slideshow .slide {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  will-change: transform;
}

.slideshow .slide.ended {
  opacity: 0;
}

.slideshow img.slide {
  -o-object-fit: cover;
     object-fit: cover;
}

.slideshow img.slide.enabled, .slideshow img.slide.zoom {
  transform: scale(1.3);
}

.slideshow img.slide.zoom.enabled {
  transform: scale(1);
}

.slideshow div.slide {
  padding: 7vw;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
}

.slideshow .header {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 68vw;
  height: 9.5vw;
  background: rgba(255, 255, 255, 0.7);
  color: #096bb0;
  font-size: 2.6em;
  font-style: italic;
  padding: 1vw 2vw;
  overflow: hidden;
}

.slideshow .header .header-content {
  width: 100%;
}

.slideshow .header.default {
  text-align: center;
  padding: 15px;
  height: 7vw;
}

.slideshow .header.default .fa {
  color: #FFA400;
  margin-right: 0.8vw;
  font-size: 1.2em;
  vertical-align: middle;
}

.slideshow .details {
  position: absolute;
  right: 0;
  padding: 1.5vw 2vw;
  min-width: auto;
  min-height: auto;
  color: white;
  box-sizing: border-box;
  width: 32vw;
  height: 9.5vw;
  text-align: right;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.8);
}

.slideshow .details .main {
  font-size: 2.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slideshow .details .sub {
  margin-top: 0.2vw;
  font-size: 1.8em;
}

.slideshow .details.background {
  text-align: left;
  background-color: rgba(51, 50, 49, 0.5);
  text-shadow: none;
}

.slideshow .details.small {
  font-size: 0.8em;
  height: 7vw;
  padding: 0.8vw 2vw;
}

.slideshow .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6vw 3vw;
  width: 100%;
  box-sizing: border-box;
  font-size: 4.2em;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.slideshow .text .main,
.slideshow .text .sub {
  overflow: hidden;
  text-overflow: ellipsis;
}

.slideshow .text .sub {
  margin-top: -1vw;
}

.slideshow .text .sub:after {
  content: '.';
  visibility: hidden;
}

.slideshow .text.small {
  font-size: 3.2em;
}

.slideshow .text.small .sub {
  margin-top: -1vw;
}

.slideshow > .button-container {
  position: absolute;
  top: -80px;
  background-color: rgba(51, 50, 49, 0.9);
  color: #b0b0b0;
  cursor: pointer;
  transition: 0.3s;
}

.slideshow > .button-container > .button {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}

.slideshow > .button-container.fullscreen-container {
  left: 32px;
}

.slideshow > .button-container.volume-container {
  right: 32px;
}

.slideshow > .button-container.volume-container .mute-indication {
  display: none;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 2px 0 10px;
}

.slideshow > .button-container.volume-container .button {
  display: inline-block;
  background-image: url("/img/icons/volume.svg");
  background-position-x: 30%;
  vertical-align: middle;
}

.slideshow > .button-container.volume-container .volume-slider {
  display: none;
  position: relative;
  vertical-align: super;
  width: 8px;
  height: 80px;
  cursor: pointer;
  background-color: rgba(176, 176, 176, 0.4);
  margin: 20px auto;
  border-radius: 5px;
}

.slideshow > .button-container.volume-container .volume-slider .volume-cursor {
  height: 100%;
  width: 100%;
  background-color: rgba(176, 176, 176, 0.9);
  border-radius: 5px;
  min-height: 10px;
}

.slideshow > .button-container.volume-container.mute .mute-indication {
  display: inline-block;
}

.slideshow > .button-container.volume-container.mute .button:after {
  content: '';
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("/img/icons/mute.svg");
  background-size: 100%;
  position: absolute;
  top: 20px;
  right: 5px;
}

.slideshow > .button-container.volume-container:not(.mute):hover .volume-slider {
  display: block;
}

.slideshow .controls {
  position: absolute;
  height: 60px;
  bottom: -80px;
  width: 100%;
  transition: 0.3s;
  background-color: rgba(51, 50, 49, 0.9);
}

.slideshow .controls:hover {
  bottom: 0;
}

.slideshow .controls .timeline-container {
  padding-top: 20px;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.slideshow .controls .timeline {
  position: relative;
  display: inline-block;
  height: 100%;
  width: calc(100% - 320px);
  transition: 0.1s;
  cursor: pointer;
  vertical-align: top;
}

.slideshow .controls .timeline .slide-thumbnail {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.slideshow .controls .timeline .slide-thumbnail.active {
  background-color: rgba(9, 107, 176, 0.52);
}

.slideshow .controls .timeline .slide-thumbnail img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 90%;
}

.slideshow .controls .timeline .slide-thumbnail .fa {
  margin-top: 6px;
  font-size: 26px;
  color: #ccc;
}

.slideshow .controls .timeline .cursor {
  display: none;
}

.slideshow .controls .button,
.slideshow .controls .label,
.slideshow .controls .slider {
  display: inline-block;
  color: #eee;
  vertical-align: middle;
}

.slideshow .controls .button {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 10px;
}

.slideshow .controls .button:hover {
  color: white;
}

.slideshow .controls .button.prev-button, .slideshow .controls .button.next-button {
  background-image: url("/img/icons/next.svg");
  background-size: 80%;
}

.slideshow .controls .button.prev-button {
  transform: scaleX(-1);
}

.slideshow .controls .label {
  font-size: 22px;
  font-weight: 100;
}

.slideshow.ready:hover:not(.control-bar-hidden) > .button-container {
  top: 18px;
}

.slideshow.ready:hover:not(.control-bar-hidden) .controls {
  bottom: 0;
}

.slideshow.playing .play-pause-button {
  background-image: url("/img/icons/channel_pause.svg");
}

.slideshow:not(.playing) .play-pause-button {
  background-image: url("/img/icons/play.svg");
}

.slideshow.fullscreen .fullscreen-button {
  background-image: url("/img/icons/exit-full-screen.svg");
}

.slideshow:not(.fullscreen) .fullscreen-button {
  background-image: url("/img/icons/full-screen.svg");
}

.slideshow .loading-overlay,
.slideshow .play-overlay,
.slideshow .pause-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 60px;
}

.slideshow .loading-overlay:after,
.slideshow .play-overlay:after,
.slideshow .pause-overlay:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.slideshow:not(.ready) .loading-overlay {
  display: block;
  background-color: black;
}

.slideshow.ready:not(.playing) .play-overlay {
  display: block;
}

.slideshow.ready.playing .pause-overlay {
  display: block;
}

.slideshow.playing:not(.control-bar-hidden) .play-overlay,
.slideshow.playing:not(.control-bar-hidden) .pause-overlay {
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.slideshow.playing:not(.control-bar-hidden) .play-overlay:hover,
.slideshow.playing:not(.control-bar-hidden) .pause-overlay:hover {
  opacity: 1;
}

.slideshow.playing.control-bar-hidden .play-overlay,
.slideshow.playing.control-bar-hidden .pause-overlay {
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.slideshow.playing.control-bar-hidden .play-overlay:hover,
.slideshow.playing.control-bar-hidden .pause-overlay:hover {
  opacity: 0;
}

.slideshow .loading-overlay:after {
  content: "\f1ce";
  animation: spin 1s infinite linear;
}

.slideshow .play-overlay:after {
  content: '';
  background-image: url("/img/icons/play-bt-white.svg");
  -webkit-filter: brightness(100);
          filter: brightness(100);
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slideshow .pause-overlay:after {
  content: '';
  background-image: url("/img/icons/pause-bt.svg");
  -webkit-filter: brightness(100);
          filter: brightness(100);
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .slideshow > .button-container > .button {
    width: 36px;
    height: 36px;
  }
  .slideshow > .button-container.volume-container .mute-indication {
    font-size: 12px;
  }
  .slideshow > .button-container.volume-container.mute .button:after {
    width: 8px;
    height: 8px;
    top: 14px;
    right: 4px;
  }
  .slideshow > .button-container.volume-container .volume-slider {
    margin: 5px auto 15px;
  }
  .slideshow .controls {
    height: 40px;
  }
  .slideshow .controls .timeline {
    width: calc(100% - 205px);
    margin: 19px 20px;
    background: #979797;
    height: 3px;
  }
  .slideshow .controls .timeline .slide-thumbnail {
    display: none;
  }
  .slideshow .controls .timeline .cursor {
    display: block;
    position: relative;
    height: 100%;
    background-color: rgba(255, 164, 0, 0.9);
    width: 0;
    pointer-events: none;
    transition: 0.1s;
  }
  .slideshow .controls .timeline .cursor:after {
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 164, 0, 0.9);
    border-radius: 10px;
    margin-top: -3.5px;
    margin-left: -3.5px;
  }
  .slideshow .controls .button {
    width: 20px;
    height: 20px;
    margin: 10px 5px;
  }
  .slideshow .controls .label {
    font-size: 13px;
    padding: 5px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
