<!DOCTYPE html>
<html lang="en" class="fa-events-icons-ready">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="./assets/css(1)" rel="stylesheet">
    <link href="./assets/bootstrap.css" rel="stylesheet">
    <link href="./assets/slideshow.css" rel="stylesheet">
    <style>
        body {
            overflow:hidden;
            font-family: 'PT Serif', serif;
            margin: 0;
            width: 2880px;
            height: 1800px;
        }

        .slideshow .slide.listing-info-0 {
            display: block;
            background: rgba(18, 78, 120, 0.95);
            color: white;
            padding: 12vw;
            font-size: 2.2em;
        }

        .listing-info-0 .price {
            display: inline-block;
            font-size: 2em;
            padding-bottom: 1vw;
            border-bottom: 0.3vw solid rgb(255, 164, 0);
        }

        .listing-info-0 .address {
            font-size: 1.5em;
            margin-top: 4vw;
            margin-bottom: 2vw;
        }

        .listing-info-0 .infos > span {
            display: inline-block;
            margin: 2.5vw 3vw;
            font-size: 1.2em;
        }

        .listing-info-0 .infos img {
            display: block;
            filter: brightness(100);
            margin: 0 auto 1.5vw;
            height: 5vw;
        }
    </style>
</head>
<body>
    <div class="slideshow">
        <div class="slide listing-info-0">
            <div class="price"><%= price %></div>
            <div class="address"><%= address %></div>
            <div class="infos">
                <span class="property-type">
                    <img src="<%= iconPath %>">
                    <%= type %>
                </span>
                <span>
                    <img src="./assets/beds.svg">
                    <%= bed %>
                </span>
                <span>
                    <img src="./assets/baths.svg">
                    <%= bath %>
                </span>
                <span>
                    <img src="./assets/sqft.svg">
                    <%= square %>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
